1 VERSIONINFO
FILEVERSION 1,1,0,27
PRODUCTVERSION 1,1,0,1
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "Comments", "\000"
   VALUE "CompanyName", "\000"
   VALUE "FileDescription", "Proxy library providing communication with server application.\000"
   VALUE "FileVersion", "1.1.0.27\000"
   VALUE "InternalName", "\000"
   VALUE "LegalCopyright", "Dmitry .Morozov\000"
   VALUE "LegalTrademarks", "\000"
   VALUE "OriginalFilename", "\000"
   VALUE "ProductName", "Fit\000"
   VALUE "ProductVersion", "1.1.0.1\000"
  }
 }
 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 0x0409, 0x04E4
 }
}
