/Desktop/o/Fit/i386-win32/*.o
/Desktop/o/Fit/i386-win32/*.ppu
/Packages/TAGraph/Component/lib/i386-win32/*.o
/Packages/TAGraph/Component/lib/i386-win32/*.ppu
/Desktop/o/Fit/i386-win32/*.compiled
/Packages/TAGraph/Component/lib/i386-win32/*.compiled
/Desktop/o/i386-win32/*.exe
/CgiClient/o
/ClientProxy/*.res
/ClientProxy/*.or
/ClientProxy/*.bak
/ClientProxy/*.o
/ClientProxy/*.dll
/ClientProxy/*.compiled
/Desktop/o
/MathExpr/VC/.vs/MathExpr/v15
/MathExpr/VC/MathExpr.vcxproj.filters
/MathExpr/VC/MathExpr.vcxproj
/Packages/synapse40/source/lib
/Server/o
/Server/*.ppu
/Server/*.o
/Server/*.res
/Server/*.bak
/Server/*.rc
/Packages/wst-0.5/*.rst
/Packages/wst-0.5/*.ppu
/Packages/wst-0.5/*.o
/MathExpr/VC/Debug
/Server/backup/*.bak
/Server/client_interfaces/backup/*.bak
