/Desktop/o/Fit/i386-win32/*.o
/Desktop/o/Fit/i386-win32/*.ppu
/Packages/TAGraph/Component/lib/i386-win32/*.o
/Packages/TAGraph/Component/lib/i386-win32/*.ppu
/Desktop/o/Fit/i386-win32/*.compiled
/Packages/TAGraph/Component/lib/i386-win32/*.compiled
/Desktop/o/i386-win32/*.exe
