<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
    <HEAD>
        <TITLE>Title</TITLE>
        <STYLE type="text/css">
        @import url(https://ServerName/fit/sheet_main.css);
        </STYLE>
    </HEAD>
    <BODY>
        <div id="conteiner">
            <div>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="company_name">
                            Fit Easily</td>
                        <td valign="top">
                            <table border="0" align="right" cellpadding="0" cellspacing="0">
                                <tr>
                                <td class="menu"><A href="https://ServerName/cgi-bin/fit.cgi?command=open_project&key=Key&problem_id=ProblemID">LinkProject</A></td>
                                <td><img src="https://ServerName/fit/msep.gif" alt="" width="1" height="44"></td>
                                <td class="menu"><A href="https://ServerName/cgi-bin/fit.cgi?command=go_to_background&key=Key&problem_id=ProblemID&cur_chunk_num=CurChunkNum">LinkNextStage</A></td>
                                <td><img src="https://ServerName/fit/msep.gif" alt="" width="1" height="44"></td>
                                <td class="menu"><A href="https://ServerName/cgi-bin/fit.cgi?command=skip_background&key=Key&problem_id=ProblemID&cur_chunk_num=CurChunkNum">LinkSkip</A></td>
                                <td><img src="https://ServerName/fit/msep.gif" alt="" width="1" height="44"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="header">
                <div id="t1">
                    <h1>CaptDataPoints</h1>
                </div>
            </div>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr valign="top">
                    <!--<td width="200" bgcolor="#0b0b0b" class="lblock_bot">
                        <div id="lblock_title">
                            CaptDataEditing</div>
                        <div id="lblock_cont">-->
                    <td width="300" class="body_txt">
                        <h1>CaptDataEditing</h1>
                            <TABLE cellspacing="0" cellpadding="0" width="100%" border="0">
                                <FORM action="https://ServerName/cgi-bin/fit.cgi" method="post" encType="multipart/form-data">
                                    <TR>
                                        <TD colSpan="2">
                                            <DIV class="inp1" style="text-align: justify;">HintDoAllAutomatically</DIV>
                                            <INPUT type="hidden" value="do_all_automatically" name="command"> 
                                            <INPUT type="hidden" value="ProblemID" name="problem_id">
                                            <INPUT type="hidden" value="Key" name="key"> 
                                            <INPUT type="hidden" value="CurChunkNum" name="cur_chunk_num">
                                        </TD>
                                    </TR>
                                    <TR>
                                        <TD colSpan="2" height="10"></TD>
                                    </TR>
                                    <TR>
                                        <TD colSpan="2">
                                            <div align="right">
                                                <input type="image" src="https://ServerName/fit/do_all_automatically.gif" style="margin-left:7px;">
                                            </div>
                                        </TD>
                                    </TR>
                                </FORM>
                                <TR>
                                    <TD colSpan="2" height="10"></TD>
                                </TR>
                                <TR>
                                    <TD class="inp1" style="text-align:right;">CaptArgument</TD>
                                    <TD class="inp1" style="text-align:right;">CaptValue</TD>
                                </TR>
                                BeginDataTemplate
                                <TR>
                                    <TD class="inp1" style="text-align:right;">XValue</TD>
                                    <TD class="inp1" style="text-align:right;">YValue</TD>
                                </TR>
                                EndDataTemplate
                                <TR>
                                    <TD colSpan="2"><HR noShade></TD>
                                </TR>
                                <TR>
                                    <TD colSpan="2" class="menu">BeginChunkTemplate <a href="https://ServerName/cgi-bin/fit.cgi?command=go_to_chunk_data&amp;problem_id=ProblemID&amp;key=Key&amp;cur_chunk_num=ChunkNumber&amp;project_name=ProjectName&amp;file_name=FileName">
                                            ChunkNumber</a> EndChunkTemplate
                                    </TD>
                                </TR>
                                <TR>
                                    <TD colSpan="2"><HR noShade></TD>
                                </TR>
                                <FORM action="https://ServerName/cgi-bin/fit.cgi" method="post" encType="multipart/form-data">
                                    <TR>
                                        <TD align="right"><INPUT class="input_form" type="text" size="10" name="argument"></TD>
                                        <TD align="right">
                                            <INPUT type="hidden" value="add_point_to_profile" name="command"> 
                                            <INPUT type="hidden" value="ProblemID" name="problem_id">
                                            <INPUT type="hidden" value="Key" name="key">
                                            <INPUT type="hidden" value="CurChunkNum" name="cur_chunk_num">
                                            <INPUT type="hidden" value="ProjectName" name="project_name">
                                            <INPUT type="hidden" value="FileName" name="file_name">
                                            <INPUT class="input_form" type="text" size="10" name="value">
                                        </TD>
                                    </TR>
                                    <TR>
                                        <TD colSpan="2" height="10"></TD>
                                    </TR>
                                    <TR>
                                        <TD align="right" colSpan="2">
                                            <div align="right">
                                                <input type="image" src="https://ServerName/fit/add_change_delete.gif" style="margin-left:7px;">
                                            </div>
                                        </TD>
                                    </TR>
                                </FORM>
                                <TR>
                                    <TD colSpan="2" height="10"></TD>
                                </TR>
                                <TR>
                                    <TD colSpan="2">
                                    </TD>
                                </TR>
                            </TABLE>
                        <div class="inp1" style="text-align: justify;">
                            <p>HintValues</p>
                        </div>
                    </TD>
                    <td class="body_txt">
                        <h1>HintData</h1>
                        <div>FileDescription</div>
                        <IMG alt="Graph" src="GraphURL&width=450&height=300" border="0" width="450" height="300">
                    </td>
                </tr>
            </table>
 			<div class="banner">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- FitEasily (адаптивный баннер) -->
				<ins class="adsbygoogle"
					 style="display:block"
					 data-ad-client="ca-pub-8470958084127593"
					 data-ad-slot="4555703590"
					 data-ad-format="auto"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
            <div id="footer2">
                <table align="left" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="nav_cur_pos">CaptDataInput</td>
                        <td class="nav_item">> CaptBackDeleting</td>
                        <td class="nav_item">> CaptModelCreating</td>
                        <td class="nav_item">> CaptModelFitting</td>
                    </tr>
                </table>
                <FORM action="https://ServerName/cgi-bin/fit.cgi" method="post" enctype="multipart/form-data">
                    <INPUT type="hidden" value="log_out" NAME="command"> 
                    <INPUT type="hidden" value="Key" NAME="key">
                    <div align="right">
                        <input type="image" src="https://ServerName/fit/log_out.gif" style="margin-left:7px;">
                    </div>
                </FORM>
                <div class="bottom_addr">HintAbout</div>
            </div>
        </div>
    </BODY>
</HTML>
