<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
    <HEAD>
        <TITLE>Title</TITLE>
        <STYLE type="text/css">
        @import url(https://ServerName/fit/sheet_main.css);
        </STYLE>
    </HEAD>
    <BODY>
        <div id="conteiner">
            <div>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="company_name">
                            Fit Easily</td>
                        <td valign="top">
                            <table border="0" align="right" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td class="menu"><A href="https://ServerName/cgi-bin/fit.cgi?command=go_to_projects&key=Key">LinkProjects</A></td>
                                    <td><img src="https://ServerName/fit/msep.gif" alt="" width="1" height="44"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="header">
                <div id="t1">
                    <h1>HintProject</h1>
                    <p>ProjectDescription</p>
                </div>
            </div>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr valign="top">
                    <td width="200" bgcolor="#0b0b0b" class="lblock_bot">
                        <div id="lblock_title">CaptCreateFile</div>
                        
                        <form action="https://ServerName/cgi-bin/fit.cgi" method="post" enctype="multipart/form-data">
                            <div id="lblock_cont">
                                <div class="inp1" style="text-align:left;">
                                    <p>CaptNewName<input type="text" value="" name="user_file_name" class="login_form"></p>
                                </div>
                                <div class="inp1" style="text-align:left;">
                                    <p>CaptDescription<textarea value="" name="project_description" class="login_form" rows="5"></textarea></p>
                                </div>
                                <div class="inp1" style="text-align:left;">
                                    <p>CaptLocalFileName<INPUT type="file" value="" name="file" class="login_form"></p>
                                    <INPUT type="hidden" value="upload_data" NAME="command">
                                    <INPUT type="hidden" value="Key" NAME="key">
                                    <INPUT type="hidden" value="ProjectFileName" NAME="project_name">
                                    <div align="right">
                                        <input type="image" src="https://ServerName/fit/create_import.gif" style="margin-left:7px;">
                                    </div>
                                </div>
                                <div class="inp1" style="text-align: justify;">
                                    <br>
                                    <p>HintFiles</p>
                                </div>
                            </div>
                        </form>
                    </td>
                    <td class="body_txt">
                        <h1>CaptProjectFiles</h1>
                        <div>
                            <TABLE cellspacing="5" cellpadding="0" width="100%" border="0">
                                <FORM action="https://ServerName/cgi-bin/fit.cgi" method="post" enctype="multipart/form-data">
                                    BeginNamesTemplate
                                    <TR>
                                        <TD class="TABLE_CELL" style="text-align: left;">
                                            <INPUT type="radio" value="NameFromFileNames" name="file_name" checked> <A href="https://ServerName/cgi-bin/fit.cgi?command=open_data&key=Key&project_name=ProjectFileName&file_name=NameFromFileNames">
                                                NameFromNames</A>
                                        </TD>
                                        <TD class="TABLE_CELL" style="text-align: left;">
                                            <A href="https://ServerName/cgi-bin/fit.cgi?command=get_file_results&key=Key&project_name=ProjectFileName&file_name=NameFromFileNames">
                                                LinkResults</A>
                                        </TD>
                                    </TR>
                                    EndNamesTemplate
                                    <TR>
                                        <TD colspan="2"><HR noShade>
                                        </TD>
                                    </TR>
                                    <TR>
                                        <TD colspan="2" align="right">
                                            <INPUT type="hidden" value="delete_data" NAME="command"> 
                                            <INPUT type="hidden" value="Key" NAME="key">
                                            <INPUT type="hidden" value="ProjectFileName" NAME="project_name"> 
                                            <div align="right">
                                                <input type="image" src="https://ServerName/fit/delete_selected_file.gif" style="margin-left:7px;">
                                            </div>
                                        </TD>
                                    </TR>
                                </FORM>
                            </TABLE>
                        </div>
                    </td>
                </tr>
            </table>
			<div class="banner">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- FitEasily (адаптивный баннер) -->
				<ins class="adsbygoogle"
					 style="display:block"
					 data-ad-client="ca-pub-8470958084127593"
					 data-ad-slot="4555703590"
					 data-ad-format="auto"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
            <div id="footer2">
                <table align="left" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="nav_cur_pos">CaptDataInput</td>
                        <td class="nav_item">> CaptBackDeleting</td>
                        <td class="nav_item">> CaptModelCreating</td>
                        <td class="nav_item">> CaptModelFitting</td>
                    </tr>
                </table>
                <div>
                    <FORM action="https://ServerName/cgi-bin/fit.cgi" method="post" enctype="multipart/form-data">
                        <INPUT type="hidden" value="log_out" NAME="command"> 
                        <INPUT type="hidden" value="Key" NAME="key">
                        <div align="right">
                            <input type="image" src="https://ServerName/fit/log_out.gif" style="margin-left:7px;">
                        </div>
                    </FORM>
                </div>
                <div class="bottom_addr">HintAbout
                </div>
            </div>
        </div>
    </BODY>
</HTML>
