<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
    <HEAD>
        <TITLE>Title</TITLE>
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
        <meta http-equiv="Content-Language" content="en">
        <meta name="AUTHOR" content="Dmitry Morozov, dvmorozov@mail.ru">
        <link href="https://ServerName/fit/sheet_main.css" rel="stylesheet" type="text/css">
    </HEAD>
    <BODY>
        <div id="conteiner">
            <div>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="company_name">
                            Fit Easily</td>
                    </tr>
                </table>
            </div>
            <div id="header">
                <div id="t1">
                    <h1>HintProjects</h1>
                </div>
            </div>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr valign="top">
                    <td width="200" bgcolor="#0b0b0b" class="lblock_bot">
                        <div id="lblock_title">CaptCreateProject</div>
                        
                        <form action="https://ServerName/cgi-bin/fit.cgi" method="post" enctype="multipart/form-data">
                            <div id="lblock_cont">
                                <div class="inp1" style="text-align:left;">
                                    <p>CaptNewName<input type="text" value="" class="login_form" name="project_name"></p>
                                </div>
                                <div class="inp1" style="text-align:left;">
                                    <p>CaptDescription<textarea value="" name="project_description" class="login_form" rows="5"></textarea></p>
                                </div>
                                <INPUT type="hidden" value="create_project" NAME="command"> 
                                <INPUT type="hidden" value="Key" NAME="key">
                                <div align="right">
                                    <input type="image" src="https://ServerName/fit/create_project.gif" style="margin-left:7px;">
                                </div>
                            </div>
                        </form>
                    </td>
                    <td class="body_txt">
                        <h1>CaptProjects</h1>
                    </td>
                </tr>
            </table>
			<div class="banner">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- FitEasily (?????????? ??????) -->
				<ins class="adsbygoogle"
					 style="display:block"
					 data-ad-client="ca-pub-8470958084127593"
					 data-ad-slot="4555703590"
					 data-ad-format="auto"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
            <div id="footer2">
                <table align="left" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="nav_cur_pos">CaptDataInput</td>
                        <td class="nav_item">> CaptBackDeleting</td>
                        <td class="nav_item">> CaptModelCreating</td>
                        <td class="nav_item">> CaptModelFitting</td>
                    </tr>
                </table>
                <div>
                    <FORM action="https://ServerName/cgi-bin/fit.cgi" method="post" enctype="multipart/form-data">
                        <INPUT type="hidden" value="log_out" NAME="command"> 
                        <INPUT type="hidden" value="Key" NAME="key">
                        <div align="right">
                            <input type="image" src="https://ServerName/fit/log_out.gif" style="margin-left:7px;">
                        </div>
                    </FORM>
                </div>
                <div class="bottom_addr">HintAbout
                </div>
            </div>
        </div>
    </BODY>
</HTML>
