<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
    <HEAD>
        <TITLE>Title</TITLE>
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
        <meta http-equiv="Content-Language" content="en">
        <meta name="AUTHOR" content="Dmitry Morozov, dvmorozov@mail.ru">
        <link href="https://ServerName/fit/sheet_main.css" rel="stylesheet" type="text/css">
    </HEAD>
    <BODY>
		<div class="column-left">
			<!-- FitEasily (large skyscraper) -->		
			<div class="large-skyscraper">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<ins class="adsbygoogle"
					 style="display:inline-block;width:300px;height:600px"
					 data-ad-client="ca-pub-8470958084127593"
					 data-ad-slot="1045521869"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>		
			</div>
			<!-- FitEasily II (large skyscraper) -->			
			<div class="large-skyscraper">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<ins class="adsbygoogle"
					 style="display:inline-block;width:300px;height:600px"
					 data-ad-client="ca-pub-8470958084127593"
					 data-ad-slot="6922101860"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
		</div>
	
        <div id="conteiner">
            <div>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="company_name">
                            Fit Easily</td>
                    </tr>
                </table>
            </div>
            <div id="header">
                <div id="t1">
                    <h1>HintProjects</h1>
                </div>
            </div>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr valign="top">
                    <td width="200" bgcolor="#0b0b0b" class="lblock_bot">
                        <div id="lblock_title">CaptCreateProject</div>
                        <form action="https://ServerName/cgi-bin/fit.cgi" method="post" enctype="multipart/form-data">
                            <div id="lblock_cont">
                                <div class="inp1" style="text-align:left;">
                                    <p>CaptNewName<input type="text" class="login_form" value="" name="project_name"></p>
                                </div>
                                <div class="inp1" style="text-align:left;">
                                    <p>CaptDescription<textarea value="" name="project_description" class="login_form" rows="5"></textarea></p>
                                </div>
                                <INPUT type="hidden" class="login_form" value="create_project" NAME="command"> 
                                <INPUT type="hidden" class="login_form" value="Key" NAME="key">
                                <div align="right">
                                    <input type="image" src="https://ServerName/fit/create_project.gif" style="margin-left:7px;">
                                </div>
                            </div>
                        </form>
                    </td>
                    <td class="body_txt">
                        <h1>CaptProjects</h1>
                        <div>
                            <TABLE cellspacing="5" cellpadding="0" width="100%" border="0">
                                <FORM action="https://ServerName/cgi-bin/fit.cgi" method="post" enctype="multipart/form-data">
                                    BeginNamesTemplate
                                    <TR>
                                        <TD class="TABLE_CELL" colspan="2" style="text-align: left;">
                                            <INPUT type="radio" value="NameFromFileNames" name="project_name" checked>
                                            <A href="https://ServerName/cgi-bin/fit.cgi?command=open_project&key=Key&project_name=NameFromFileNames">
                                                NameFromNames</A>
                                        </TD>
                                    </TR>
                                    EndNamesTemplate
                                    <TR>
                                        <TD colspan="2"><HR noShade></TD>
                                    </TR>
                                    <TR>
                                        <TD colspan="2">
                                            <INPUT type="hidden" value="delete_project" NAME="command"> <INPUT type="hidden" value="Key" NAME="key">
                                            <div align="right">
                                                <input type="image" src="https://ServerName/fit/delete_project.gif" style="margin-left:7px;">
                                            </div>
                                        </TD>
                                    </TR>
                                </FORM>
                            </TABLE>
                        </div>
                    </td>
                </tr>
            </table>
            <div id="footer2"> 
                <table align="left" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="nav_cur_pos">CaptDataInput</td>
                        <td class="nav_item">> CaptBackDeleting</td>
                        <td class="nav_item">> CaptModelCreating</td>
                        <td class="nav_item">> CaptModelFitting</td>
                    </tr>
                </table>
                <div>
                    <FORM action="https://ServerName/cgi-bin/fit.cgi" method="post" enctype="multipart/form-data">
                        <INPUT type="hidden" value="log_out" NAME="command"> 
                        <INPUT type="hidden" value="Key" NAME="key">
                        <div align="right">
                            <input type="image" src="https://ServerName/fit/log_out.gif" style="margin-left:7px;">
                        </div>
                    </FORM>
                </div>
                <div class="bottom_addr">HintAbout</div>
            </div>
        </div>
    </BODY>
</HTML>
