<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
    <HEAD>
        <TITLE>Title</TITLE>
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
        <meta http-equiv="Content-Language" content="en">
        <meta name="AUTHOR" content="Dmitry Morozov, dvmorozov@mail.ru">
        <link href="http://ServerName/fit/sheet_main.css" rel="stylesheet" type="text/css">
    </HEAD>
    <BODY>
		<div class="column-left">
			<!-- FitEasily (large skyscraper) -->		
			<div class="large-skyscraper">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<ins class="adsbygoogle"
					 style="display:inline-block;width:300px;height:600px"
					 data-ad-client="ca-pub-8470958084127593"
					 data-ad-slot="1045521869"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>		
			</div>
			<!-- FitEasily II (large skyscraper) -->			
			<div class="large-skyscraper">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<ins class="adsbygoogle"
					 style="display:inline-block;width:300px;height:600px"
					 data-ad-client="ca-pub-8470958084127593"
					 data-ad-slot="6922101860"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
		</div>
	
        <div id="conteiner">
            <div>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="company_name">
                            Fit Easily</td>
                        <td valign="top">
                            <table border="0" align="right" cellpadding="0" cellspacing="0">
                                <tr>
                                <td class="menu"><A href="http://ServerName/cgi-bin/fit.cgi?command=go_to_specimen_parameters&key=Key&problem_id=ProblemID&cur_chunk_num=CurChunkNum">
                                    CaptButNextStage</A></td>
                                <td><img src="http://ServerName/fit/msep.gif" alt="" width="1" height="44"></td>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="header">
                <div id="t1">
                    <h1>CaptPointSelection</h1>
                    <div style="text-align: justify;">HintIntervals1</div>
                </div>
            </div>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr valign="top">
                    <!---<td width="200" bgcolor="#0b0b0b" class="lblock_bot">
                        <div id="lblock_title">
                            CaptPointSelection</div>
                        <div id="lblock_cont">-->
                    <td width="300" class="body_txt">
                        <h1 style="text-align:left;">CaptPointSelection</h1>
                        <div>
                            <TABLE cellspacing="0" cellpadding="0" width="100%" border="0">
                                <FORM action="http://ServerName/cgi-bin/fit.cgi" method="post" enctype="multipart/form-data">
                                    <TR>
                                        <TD colspan="3">
                                            <DIV class="inp1" style="text-align:justify;">
                                                HintIntervals2<INPUT type="hidden" value="generate_specimen_intervals" NAME="command"> 
                                                <INPUT type="hidden" value="ProblemID" NAME="problem_id">
                                                <INPUT type="hidden" value="Key" NAME="key"> 
                                                <INPUT type="hidden" value="CurChunkNum" NAME="cur_chunk_num">
                                            </DIV>
                                        </TD>
                                    </TR>
                                    <TR>
                                        <TD colSpan="3" height="10"></TD>
                                    </TR>
                                    <TR>
                                        <TD colspan="3" align="right">
                                            <input type="image" src="http://ServerName/fit/generate.gif" style="margin-left:7px; ">
                                        </TD>
                                    </TR>
                                </FORM>
                                <TR>
                                    <TD colSpan="3" height="10"></TD>
                                </TR>
                                <TR>
                                    <TD class="inp1" style="text-align:right;">CaptArgument</TD>
                                    <TD class="inp1" style="text-align:right;">CaptValue</TD>
                                    <TD class="inp1" style="text-align:right;">CaptBoundPoint</TD>
                                </TR>
                                BeginDataTemplate
                                <TR>
                                    <TD class="inp1" style="text-align:right;">XValue</TD>
                                    <TD class="inp1" style="text-align:right;">YValue</TD>
                                    <TD class="inp1" style="text-align:right;">Selected</TD>
                                </TR>
                                EndDataTemplate
                                <TR>
                                    <TD colspan="3"><HR noshade>
                                    </TD>
                                </TR>
                                <TR>
                                    <TD colspan="3" class="menu">
                                        BeginChunkTemplate
                                            <a href="http://ServerName/cgi-bin/fit.cgi?command=go_to_chunk_specimen_intervals&problem_id=ProblemID&key=Key&cur_chunk_num=ChunkNumber">ChunkNumber</a>
                                        EndChunkTemplate
                                    </TD>
                                </TR>
                                <TR>
                                    <TD colSpan="3"><HR noShade></TD>
                                </TR>
                                <FORM action="http://ServerName/cgi-bin/fit.cgi" method="post" enctype="multipart/form-data">
                                    <TR>
                                        <TD align="right">
                                            <INPUT type="text" class="input_form" value="" NAME="argument" size="10">
                                        </TD>
                                        <TD>
                                            <INPUT type="hidden" value="select_bound_point" NAME="command"> 
                                            <INPUT type="hidden" value="ProblemID" NAME="problem_id">
                                            <INPUT type="hidden" value="Key" NAME="key">
                                            <INPUT type="hidden" value="CurChunkNum" NAME="cur_chunk_num">
                                        </TD>
                                        <TD>
                                            <INPUT type="hidden" value="ProjectName" name="project_name">
                                            <INPUT type="hidden" value="FileName" name="file_name">
                                        </TD>
                                    </TR>
                                    <TR>
                                        <TD colSpan="3" height="10"></TD>
                                    </TR>
                                    <TR>
                                        <TD colspan="3" align="right">
                                            <div align="right">
                                                <input type="image" src="http://ServerName/fit/select_unselect.gif" style="margin-left:7px;">
                                            </div>
                                        </TD>
                                    </TR>
                                </FORM>
                                <TR>
                                    <TD colSpan="3" height="10"></TD>
                                </TR>
                                <TR>
                                    <TD colSpan="3">
                                        <div class="inp1" style="text-align: justify;">
                                            <p>HintValues</p>
                                        </div>
                                    </TD>
                                </TR>
                            </TABLE>
                        </div>
                    </TD>
                    <td class="body_txt" valign="top">
                        <!--<h1>HintData</h1>
                        <div>FileDescription</div>-->
                        <IMG alt="Graph" src="GraphURL&width=450&height=300" border="0" width="450" height="300">
                    </td>
                </tr>
            </table>
            <div id="footer2">
                <table align="left" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="nav_item">CaptPatternSelection</td>
                        <td class="nav_item">> CaptSpecimenPositions</td>
                        <td class="nav_cur_pos">> CaptSpecimenIntervals</td>
                        <td class="nav_item">> CaptSpecimenParameters</td>
                    </tr>
                </table>
                <FORM action="http://ServerName/cgi-bin/fit.cgi" method="post" enctype="multipart/form-data">
                    <INPUT type="hidden" value="log_out" NAME="command"> 
                    <INPUT type="hidden" value="Key" NAME="key">
                    <div align="right">
                        <input type="image" src="http://ServerName/fit/log_out.gif" style="margin-left:7px;">
                    </div>
                </FORM>
                <div class="bottom_addr">HintAbout</div>
            </div>
        </div>
    </BODY>
</HTML>
