<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
    <HEAD>
        <TITLE>Title</TITLE>
        <STYLE type="text/css">
        @import url(http://ServerName/fit/sheet_main.css);
        </STYLE>
        <META name="ResultName" content="HintResultName">
        <META name="ResultDescription" content="HintResultDescription">
    </HEAD>
    <BODY>
		<div class="column-left">
			<!-- FitEasily (large skyscraper) -->		
			<div class="large-skyscraper">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<ins class="adsbygoogle"
					 style="display:inline-block;width:300px;height:600px"
					 data-ad-client="ca-pub-8470958084127593"
					 data-ad-slot="1045521869"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>		
			</div>
			<!-- FitEasily II (large skyscraper) -->			
			<div class="large-skyscraper">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<ins class="adsbygoogle"
					 style="display:inline-block;width:300px;height:600px"
					 data-ad-client="ca-pub-8470958084127593"
					 data-ad-slot="6922101860"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
		</div>
	
        <div id="conteiner">
            <div>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="company_name">
                            Fit Easily</td>
                        <td valign="top">
                        </td>
                    </tr>
                </table>
            </div>
            <div id="header">
                <div id="t1">
                    <h1>HintResultName</h1>
                    <div style="text-align: justify;">HintResultDescription</div>
                </div>
            </div>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr valign="top">
                    <td class="body_txt">
                        <h1>CaptSpecimenParametersTable</h1>
                        <TABLE cellspacing="0" cellpadding="0" width="100%" border="0">
                            <TR>
                                BeginHeaderItem
                                <TD class="inp1" style="text-align:right;">HeaderItemName</TD>
                                EndHeaderItem
                            </TR>
                            BeginSpecimenParameters
                            <TR>
                                BeginValueItem
                                <TD class="inp1" style="text-align:right;">ItemValue</TD>
                                EndValueItem
                            </TR>
                            EndSpecimenParameters
                        </TABLE>
                        <div class="inp1"><h3>CaptRFactorValues<BR>
                            <NOBR>&#931;(<SUP>&#931;(I<SUB>c</SUB>-I<SUB>e</SUB>)<SUP>2</SUP></SUP>/<SUB>(&#931;I<SUB>e</SUB>)<SUP>2</SUP></SUB>)<SUB>interval</SUB> = SqrRFactorValue</NOBR><BR>
                            <NOBR>&#931;(<SUP>&#931;|I<SUB>c</SUB>-I<SUB>e</SUB>|</SUP>/<SUB>&#931;I<SUB>e</SUB></SUB>)<SUB>interval</SUB> = AbsRFactorValue</NOBR></h3>
                        </div>
                        <BR>
                        <div>
                            <IMG border="0" alt="Graph" src="http://ServerName/cgi-bin/fit.cgi?command=get_saved_graph&key=Key&project_name=ProjectName&graph_file_name=GraphFileName">
                            <div id="footer2">
                                <div class="bottom_addr">HintAbout</div>
                            </div>
                        </div>
                    </TD>
                </tr>
            </table>
        </div>
    </BODY>
</HTML>
